body {
	padding: 0;
	 margin: 0;
	 /* background: linear-gradient(to bottom,  white 0%, black 100%); */
	}
	
.login-form{

	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius:5px;
	background-color: white;
	border: solid black;
	box-shadow: 15px 10px black;
	width: 25%;

}

.login-form h3, a, p{

	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.button {
	background-color: #99b3ff;
	border: solid 3px;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 5px;
  }
 
  .navbar { 
   /* background: linear-gradient(to bottom, white 0%, black 100%); */
   background-color:black;
   padding: 15px;
   border-radius:5px;
   border:1px solid grey;
   /* box-shadow: 15px 10px; */
  }
 
  .nav-link, .navbar-brand { color: #fff;
	cursor: pointer;
	} 
 
  .nav-link { margin-right: 1em !important;
  } 
 
  .nav-link:hover{ color: #000;
	}
 
  .navbar-collapse { 
   justify-content: flex-end;
  }
 
  a{
   color:none;
   text-decoration:none;
  }
 
  p{
   color:white;
   font-family: sans-serif;
   font-size: 15px;
  }
 
  li{
   margin-right:25px
  }
 
  img {
	 border: 3px solid black;
   }
  
 
